/*
        Popover
*/
#my-popover::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}


/*
        Anchors (and style nesting)
*/
abbr {
    color: chocolate;
    font-style: italic;

    &:not(:hover) .css-tooltip {
        display: none;
    }
}

.css-tooltip {
    display: flex;
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    flex-direction: column;
    align-items: center;

    img {
        margin-top: 4px;
        width: 40px;
    }
}

#anchor1 {
    anchor-name: --css-abbr-anchor1;
}

#anchor2 {
    anchor-name: --css-abbr-anchor2;
}

#tooltip1 {
    position-anchor: --css-abbr-anchor1;
    position: absolute;
    bottom: anchor(top);
    justify-self: anchor-center;
}

#tooltip2 {
    position-anchor: --css-abbr-anchor2;
    position: absolute;
    inset-area: top;
    position-try-options: flip-block, --topleft, --topright;
}

@position-try --topleft {
    inset-area: top span-left;
}

@position-try --topright {
    inset-area: top span-right;
}


/*
        Details/Summary
*/
summary {
    cursor: pointer;
}


/*
        prefers color scheme
*/
@media (prefers-color-scheme: dark) {
    .lightmode-only {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    .darkmode-only {
        display: none;
    }
}


/*
        color-mix
*/
.colors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    width: 200px;
    --red: #f22421;
    --blue: #1213fa;

    > * {
        border-radius: 4px;
        aspect-ratio: 1;
    }
}

.red1 {
    background-color: color-mix(in srgb, var(--red), black 0%);
}

.red2 {
    background-color: color-mix(in srgb, var(--red), black 30%);
}

.red3 {
    background-color: color-mix(in srgb, var(--red), black 60%);
}

.red4 {
    background-color: color-mix(in srgb, var(--red), black 90%);
}

.blue1 {
    background-color: color-mix(in srgb, var(--blue), black 0%);
}

.blue2 {
    background-color: color-mix(in srgb, var(--blue), black 30%);
}

.blue3 {
    background-color: color-mix(in srgb, var(--blue), black 60%);
}

.blue4 {
    background-color: color-mix(in srgb, var(--blue), black 90%);
}


/*
        Container query
*/
#resizeableContainer {
    background-color: beige;
    padding: 8px;
    border-radius: 8px;
    box-shadow: inset 0 0 2px 2px color-mix(in srgb, beige, black 20%);
    max-width: 800px;

    resize: horizontal;
    overflow: hidden;

    container-type: inline-size;
}

.card {
    display: grid;
    grid-template-areas:
    'image heading'
    'image text';
    grid-template-rows: auto 1fr;

    img {
        grid-area: image;
        margin-right: 10px;
    }

    h4 {
        grid-area: heading;
        margin-top: 0;
    }

    article {
        grid-area: text;
    }
}

@container (max-width: 450px) {
    .card {
        grid-template-areas:
                'heading'
                'image'
                'text';
        grid-template-rows: auto auto auto;
    }

    #test {
        color: red;
    }
}

/*
        Scroll driven animations 1
*/
body {
    margin-bottom: 20px;
}

#page-progress {
    position: fixed;
    z-index: 100;
    bottom: 5px;
    width: 90%;
    background-color: white;
    border-radius: 16px;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    overflow: hidden;
}

#page-progess-indicator {
    height: 100%;
    background: repeating-linear-gradient(
            135deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px
    );
    border-radius: 16px;
    animation: grow-progress linear;
    animation-timeline: scroll(root y);
}

@keyframes grow-progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/*
        Scroll driven animations 2
*/
#animation-container {
    max-width: 900px;
    width: 100%;
    aspect-ratio: 9/4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

#albums {
    display: flex;
    justify-content: center;
}

#first {
    z-index: 4;
    width: 15%;
    aspect-ratio: 1;
    object-fit: contain;
    transform: rotateZ(-10deg) translateX(85%);
    animation: reveal-album-1 ease-in-out;
    animation-timeline: view();
    animation-range: entry 50% exit 50%;
}

#second {
    width: 15%;
    aspect-ratio: 1;
    z-index: 3;
    transform: translateY(-15%);
    animation: reveal-album-2 ease-in-out;
    animation-timeline: view();
    animation-range: entry 50% exit 50%;
}

#third {
    width: 15%;
    z-index: 2;
    aspect-ratio: 1;
    transform: rotateZ(10deg) translateX(-85%);
    animation: reveal-album-3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 50% exit 50%;
}

@keyframes reveal-album-1 {
    0%, 100% {
        width: 15%;
        transform: rotateZ(-10deg) translateX(85%);
    }

    50% {
        width: 25%;
        transform: rotateZ(0) translateX(-15%) translateY(-25%);
    }
}

@keyframes reveal-album-2 {
    0%, 100% {
        transform: translateY(-15%);
    }

    50% {
        width: 25%;
        transform: translateY(-25%);
    }
}

@keyframes reveal-album-3 {
    0%, 100% {
        width: 15%;
        transform: rotateZ(10deg) translateX(-85%);
    }

    50% {
        width: 25%;
        transform: rotateZ(0) translateX(15%) translateY(-25%);
    }
}

/*
        View Transition API 1
*/
#boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    max-width: 600px;
}

.box {
    min-height: 100px;
    border-radius: 8px;
    background-color: currentColor;
    box-shadow: inset 0 0 5px 2px color-mix(in srgb, currentColor, black 20%);
    position: relative;

    button {
        position: absolute;
        right: 5px;
        bottom: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        border-radius: 100%;
        aspect-ratio: 1;
        border: 0;
    }
}

::view-transition-old(*) {
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-name: wobble;
}

::view-transition-new(*) {
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-name: wobble;
}

::view-transition-old(appear) {
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-name: scale-in;
}

::view-transition-new(appear) {
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-name: scale-in;
}

::view-transition-old(remove) {
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-name: scale-out;
}

::view-transition-new(remove) {
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-name: scale-out;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
}

@keyframes scale-in {
    from {
        scale: 0;
    }

}

@keyframes scale-out {
    to {
        scale: 0;
    }
}

@keyframes wobble {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-25px);
    }
    20% {
        transform: translateX(20px);
    }
    30% {
        transform: translateX(-15px);
    }
    40% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(5px);
    }
    70% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(3px);
    }
    90% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0);
    }
}

/*
        View Transition API 2
*/
.sw-characters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 8px;
    max-width: 900px;
}

.sw-character {
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    h4 {
        margin-top: 0;
    }

    img {
        width: 100%;
    }
}

#sw-popup {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

#sw-details {
    padding: 32px 16px 16px 16px;
    display: grid;
    grid-template-areas: "heading image" "text image";
    grid-template-rows: auto 1fr;
    view-transition-name: sw;
    height: 80%;
    width: 90%;
    position: absolute;
    background-color: beige;
    box-shadow: inset 0 0 5px 2px color-mix(in srgb, beige, black 20%);
    border-radius: 16px;
    grid-gap: 8px;

    h2 {
        grid-area: heading;
        margin-top: 25px;
    }

    img {
        grid-area: image;
        margin-top: 25px;
        width: 600px;
    }

    article {
        grid-area: text;
    }

    button {
        position: absolute;
        cursor: pointer;
        top: 16px;
        right: 16px;
        font-weight: bold;
        background-color: transparent;
        border: 0;
        sw-details
    }
}


::view-transition-group(sw-img) {
    z-index: 100;
}

::view-transition-old(sw-img),
::view-transition-new(sw-img) {
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-name: none;
}

::view-transition-old(sw) {
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-name: fade-out;
}

::view-transition-new(sw) {
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-name: fade-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}


/*
        :is und :has
*/
.fruitlist :is(.apple, .banana) .tasty {
    font-weight: bold;
}

.fruitlist li:has(.tasty) {
    color: green;
}